@font-face{
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('../font/Montserrat-Thin.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 200;
  src: url('../font/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../font/Montserrat-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../font/Montserrat-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('../font/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('../font/Montserrat-Black.ttf') format('truetype');
}

.root {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 151, 104, 0.8), rgba(145, 86, 225, 0.8));
}

.content {
    -fx-alignment: center;
    -fx-background-radius: 5;
}

.title {
    -fx-font-family: 'Montserrat Regular';
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-size: 32px;
}

.text {
    -fx-font-family: 'Montserrat Regular';
    -fx-font-smoothing-type: gray;
}

/* CALCULATOR STYLES */
.calculator {
    -fx-background-color: #000;
    -fx-alignment: top-center;
}

.top {
    -fx-padding: 0 20 0 20;
    -fx-alignment: center-right;
}

.memory {
    -fx-text-fill: #d98192;
    -fx-font-size: 18px;
}

.result {
    -fx-text-fill: white;
    -fx-font-size: 50px;
}

.calculator .button {
    -fx-pref-height: 90px;
    -fx-font-size: 21px;
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #f4f4f4);
    -fx-background-radius: 0;
}

.calculator .button:hover {
    -fx-background-color: derive(#f4f4f4, -15%);
}

.calculator .button:pressed {
    -fx-background-color: derive(#f4f4f4, -25%);
    -fx-effect: innershadow(one-pass-box, #f4f4f4, 5, 0.2, 0.0, 0.0)
}

.calculator .button .text {
    -fx-font-family: 'Montserrat ExtraLight';
}

.button.operation {
    -fx-background-color: #9155e1;
    -fx-text-fill: white;
}

.button.operation:hover {
    -fx-background-color: derive(#9155e1, -15%);
}

.button.operation:pressed {
    -fx-background-color: derive(#9155e1, -25%);
    -fx-effect: innershadow(one-pass-box, #9155e1, 5, 0.2, 0.0, 0.0)
}

.button.equality {
    -fx-background-color: #e62e89;
    -fx-text-fill: white;
    -fx-background-radius: 0 0 5 0;
}

.button.equality:hover {
    -fx-background-color: derive(#e62e89, -15%);
}

.button.equality:pressed {
    -fx-background-color: derive(#e62e89, -25%);
    -fx-effect: innershadow(one-pass-box, #e62e89, 5, 0.2, 0.0, 0.0)
}